# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# go.gitignore from https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
*.sqlite
*.db
tmp/
.tmp/

public/

logs/*

cmd/api/kitex_gen

cmd/user/output
cmd/user/kitex_gen
cmd/user/script
cmd/user/build.sh

cmd/video/output
cmd/video/kitex_gen
cmd/video/script
cmd/video/build.sh


cmd/socity/output
cmd/socity/kitex_gen
cmd/socity/script
cmd/socity/build.sh

